
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/kanye_west_bg.jpg);
  background-size: cover;
}

header {
  position: relative;
  background: white;
  padding: 20px;
}

header > h1 {
  position: relative;
  font-size: 40px;
  color: black;
  teXt-align: center;
  font-family: Asap, sans-serif;
}

header > h2 {
  position: relative;
  font-size: 20px;
  color: black;
  teXt-align: center;
  padding: 5px;
  font-family: Asap, sans-serif;
}

.kanyes {
  position: relative;
  text-align: center;
  top: 600px;
  bottom: 500px;
}

.mid-kanye {
  border: 4px solid white;
  margin: 0 20px;
  display: inline-block;
}