/* Import Asap font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/kanye_west_bg.jpg);
  background-size: cover;
}

/* Header text and position editing */
header {
  position: relative;
  background: white;
  padding: 20px;
}

header > h1 {
  position: relative;
  font-size: 40px;
  color: black;
  text-align: center;
  font-family: Asap, sans-serif;
}

header > h2 {
  position: relative;
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 5px;
  font-family: Asap, sans-serif;
}

/* Adjusting center box position and text */
.center-box {
  position: relative;
  height: 200px;
  width: 600px;
  top: 175px;
  left: 50%;
  margin-top: -100px;
  margin-left: -300px;
  background-color: #ffffff;
  border: 5px solid #B5651D;
  opacity: 0.8;
  text-align: center;
  padding: 10px;
}

.center-box > p {
  color: black;
  font-weight: bold;
  font-family: Asap, sans-serif;
  font-size: 25px;
}

/* Adjusting kanye gifs and positions */
.kanye-gifs {
  position: relative;
  text-align: center;
  top: 600px;
}

.mid-kanye {
  border: 4px solid white;
  margin: 0 20px;
  display: inline-block;
}

/* Animating buttons and positioning them */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #B5651D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 0px 10px;
}

.button:hover {
  background-color: #FFB775
}

.button:active {
  background-color:  #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttons {
  text-align: center;
  position: relative;
  top: 135px;
}
